html {
  height: 100%;
  background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
  /* background-color: #FC5E55; */
  /* Add your fonts here */
  background-image: url(image-lion-background.png);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  color: white !important;
  font-size: 1.125rem;
}

.container {
  width: 1024px;
  /* background-color: rgb(18, 60, 12); */
  /* This helps in avoiding spill of content */
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* background-color: rgb(41, 96, 36); */
  min-height: 100px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* justify-content: space-around; */
  border-bottom: 1px solid white;
}

h1 {
  font-size: 3.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1.75rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
}

h2 {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  margin-top: 20px;
}

main {
  /* background-color: rgb(49, 139, 41); */
  min-height: 300px;
  display: flex;
  align-items: center;
  /* align-items: center; */
}

.main2 {
  min-height: 300px;
}

.cards {
  /* background-color: rgb(47, 198, 33); */
  /* min-height: 300px; */
  /*Flex is telling the child components to flex it up*/
  display: flex;
  /*Use the space-between, would be useful
    Remeber to use the cheat sheet and learn all the flex options.
    */
  justify-content: space-between;
  text-align: center;
}

.card1 {
  /* background-color: rgb(227, 58, 137); */
  background-image: url(image-background-card1.jpg);
  background-size: cover;
  min-height: 250px;
  background-position: bottom;
  width: 30%;
}

.card2 {
  /* background-color: rgb(227, 11, 118); */
  background-image: url(image-background-card2.jpg);
  /* Ensure to use cover which stretches the image*/
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}

.card3 {
  /* background-color: rgb(192, 2, 48); */
  background-image: url(image-background-card3.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
  /* background-color: chocolate; */
}

.herobox2 {
  /* background-color: plum; */
  flex: 1;
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards p {
  line-height: 1.2rem;
  font-size: 0.85rem;
  margin-top: 10px;
  /* border-radius: 12px; */
}

.cards i {
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.cards a {
  color: white;
  text-decoration: none;
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
  border-radius: 12px;
  /* border-color: white;
  border-width: 5px; */
}

.myButton {
  background-color: white;
  text-decoration: none;
  color: #fc5e55;
  /* display: block; */
  font-family: "Playfair Display", serif;
  padding: 11px 25px;
  /* margin-top: 10px; */
  display: inline-block;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
}

/* This is known as a pseudo class */
.myButton:hover {
  background-color: #40eb34;
  transition-duration: 1s;
}

li {
  display: inline-block;
  /* align-items: stretch; */
}

a.navbutton {
  display: inline-block;
  margin-top: 1;
}

nav.a.navbutton {
  margin-left: 30px;
  color: white;
}

/* Custom Button */
.navbutton {
  text-decoration: none;
  border: 2px solid white;
  padding: 11px 25px;
  font-family: "Playfair Display", serif;
  display: inline-block;
  position: relative;
  border-radius: 12px;
  /* color: white !important; */
}

.navbutton a:link {
  text-decoration: none !important;
  /* color: white !important; */
}

a {
  color: white;
}

/* Unvisited link  */
/* This actually saved my time */
a:visited {
  color: white;
}

/* Visited link    */
a:hover {
  color: white;
}

/* Mouse over link */
a:active {
  color: white;
}

/* Selected link   */

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.tbox {
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
}

/* .tbox :last-child {
  font-size: 0.8rem;
} */

.tbox p:last-of-type {
  font-size: 0.8rem;
  padding-left: 30px;
}

nav {
  display: inline-block;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}

.navbutton:hover .dropdown {
  display: block;
}

.dropdown .navbutton {
  width: 120px;
  background-color: white;
}

.dropdown .navbutton a {
  color: #fa4083;
}

.inputwrapper {
  margin-bottom: 20px;


}

input[type=text],
textarea {
  padding: 12px 20px;
  /* border-radius: 12px; */
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  box-sizing: border-box;
}

/* .label {
  margin-bottom: 10px;
} */

.newline {
  margin-bottom: 10px;
}

.submit-button {
  background-color: white;
  text-decoration: none;
  color: #fc5e55;
  /* display: block; */
  font-family: "Playfair Display", serif;
  padding: 11px 25px;
  /* margin-top: 10px; */
  /* display: inline-block; */
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.28);
  margin-bottom: 10px;
  font-size: 20px;
  /* border-color: white; */
}

.submit-button:hover {
  background-color: #40eb34;
  transition-duration: 1s;
}

form {
  margin: 40px 0px;
}